html, body {
    margin: 0;
    padding: 0;
    background-image: url("homepage.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    background-color: #000;
}

.homepage {
    width: 100%;
    display: block;
}
